In [3]:
year = 2024

In [5]:
print(year)

2024

In [10]:
#this instruction will not print beacuse of this symbol usage
institution = "ICTAK"

In [12]:
print(institution)

ICTAK

In [ ]:
###Comments

In [24]:
#we can chcek data type using builtin function
type(5)

int

In [26]:
type(5.5)

float

In [77]:
d=1+1.2
a="asd"
print(d)
print(a)

2.2
asd

#Sequence Types

In [89]:
digits =[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(digits[1])
vowels = ['a', 'e', 'i', 'o', 'u']
print(vowels[3])
vowels[3]="x"
print(vowels)
len(vowels)

1
o
['a', 'e', 'i', 'x', 'u']

NameError: name 'append' is not defined

In [9]:
digits = [[1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]
len(digits)
abc = [1, 2, 3, 4, 5, 6]
len(abc)

6

In [61]:
grocery = ["Apple", 5, "Orange", 10]

In [63]:
grocery[0] = "Grape"

In [65]:
print(grocery)

['Grape', 5, 'Orange', 10]

#Tuple

##Tuples are immutable

In [95]:
tuple1 = (1, 2, 3, 4, 5)
print(tuple1)

(1, 2, 3, 4, 5)

#RANGE

##Range are immutable used to skip easily by our requirments

In [113]:
#range(0, 10, 2)
a = list(range(0, 10, 2))
print(a)

[0, 2, 4, 6, 8]

In [115]:
#range(0, 10, 2)
a = tuple(range(0, 10, 2))
print(a)

(0, 2, 4, 6, 8)

#Mapping Type

##1. Dictionary

In [131]:
data = {
    "institute": "ICTAK",
    "City": "TVM",
    "Location": "KZKTM"
}

In [133]:
print(data)

{'institute': 'ICTAK', 'City': 'TVM', 'Location': 'KZKTM'}

In [135]:
Contact = {
    "Name": "AXAE",
    "SEX": "Male",
    "Age" : '29',
    "phone no": '123456789'
}

In [137]:
print(Contact)

{'Name': 'AXAE', 'SEX': 'Male', 'Age': '29', 'phone no': '123456789'}

##if we need to add any data in variable "data"

In [140]:
data["State"] = "Kerala"

In [142]:
print(data)

{'institute': 'ICTAK', 'City': 'TVM', 'Location': 'KZKTM', 'State': 'Kerala'}

In [147]:
#Accessing the values only from a dictionary
data.keys()

dict_keys(['institute', 'City', 'Location', 'State'])

In [149]:
#Accessing the values only for a dictionary
data.values()

dict_values(['ICTAK', 'TVM', 'KZKTM', 'Kerala'])

##TO access values or keys we can use the above method, type variable and dot then what we need values, keys or anything

#SET TYPE

#In pyhton a set is an unordered collection of unique items

In [156]:
#Creating a set using
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 8}
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [158]:
num = {1, 1, 1, 8, 9, 8, 8, 2, 2, 0, 0}
print(num)

{0, 1, 2, 8, 9}

#Boolean Type

In [161]:
print(10>20)

False

In [163]:
3 == 3.0

True

In [167]:
10.0004 == 10.0006

False

In [169]:
10 != 9

True

#Boolean type is used to check weather the value is true or False

#None Type

In [174]:
status = None

In [176]:
print(status)

None

In [178]:
type(status)

NoneType

#Opertors in Python

##1. Arithematic operation

In [186]:
5+3

8

In [188]:
8-5

3

In [190]:
16/2

8.0

In [192]:
4*2

8

In [261]:
#Modulos
a = 7
b = 9
c = a%b
print(c)
a = 10
b = 3
c = a%b
print(c)
#Modulas is used to get the reminder when divide two numbers

7
1

In [196]:
a = 3
b = 5
c = a/b
print(a/b) 
print(c)

0.6
0.6

#Exponentaion

In [199]:
a = 4
b = 4
c = a**b
print(c)

256

#Assignment operation

In [206]:
 #equals
x = 10
print(x)

10

#Comparison

In [209]:
#Equals
a = 5
b = 8
a == b

False

In [211]:
#Greator than or equal to 
a = 4
b = 8
a >= b

False

#Logical operation

In [216]:
# AND
print(True and True)

True

In [218]:
# OR
print(True or False)

True

In [228]:
# NOT
print(not False)

True

#Membership operation

In [233]:
# IN
print(1 in {1, 2, 3})

True

In [239]:
#NOT IN
print(1 not in {1, 2, 3})

False

#Identity Operation

#Chcek if two variables refer to the same objectn in memory

In [274]:
#IS
a = 10
b = 10 
print(a)
print(b)
print(a is b)
a = 8
b = 10
print(a is b)

10
10
True
False

In [249]:
#IS NOT
a = 10
b = 10 
print(a is not b)

False

#Q. Write a code whether a number in given variable x is odd?

In [254]:
X = 10
print(x%2!=0)

False

#Q. Write a code whether a number in given variable x is odd and divisible by 9?

In [264]:
x = 11
print(x%2!=0 and x%9 == 0)
#!= is not equal to
# == equal to

False

#Write code to know if a given string has more than 10 characters?

In [269]:
character = "runamarathon"
print(len(character)>10)

True

#Write code to know if a given string has less than 10 characters?

In [272]:
character = "runamarathon"
print(len(character)<10)

False

#Conditional Statement

In [287]:
#IF
##if conditional :
    #code
##else :
     #code

#Q. Write a code print whether value in a given variable x is even or odd?

In [290]:
x = 835
if (x%2!=0):
    print("odd")
else:
    print("even")

odd

In [306]:
y = "ICT ACADEMY"
y[ : :-1]

'YMEDACA TCI'

In [308]:
y[0: :8]

'IE'

In [310]:
y[0:10]

'ICT ACADEM'

In [312]:
y[ : ]

'ICT ACADEMY'

#Q. Write a code to check a given string is polindrome or not?

In [319]:
y = "yey"
if (y[0:3]) == y:
    print("it is palindrome")
else:
    print("not palindrome")

it is palindrome

#Here why we add [0:3] is beacuse it need to come reverse to got the answer. like -1

In [13]:
#IF-ELSE
     #if condition:
          #statement
    #elseif condition:
          #statement
     #else:
          #statement

In [15]:
if 20>10:
    pass

#Iteration in Python

##1. While loop

In [49]:
i = 1
while i<10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9

In [41]:
for i in range(5):
    print("Hello")

Hello
Hello
Hello
Hello
Hello

In [69]:
i = 100
while i>0:
    print(i)
    i=i-2

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

In [63]:
for i in range(100,0,-2):
    print(i)

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

In [101]:
i = 0
while i<8:
    if i == 6:
        break
    print(i)
    i=i+1
    #spaces are very important here the "break" condition is used for if not in while there for after if condition break statement puts in with spaces 4

0
1
2
3
4
5

In [109]:
for i in range(10):
    if i == 6:
        break
    print(i)

0
1
2
3
4
5

In [117]:
i = [1, 2, 3, 4, 5, 6, 7]
for num in i:
    if num == 4:
        break
    print(num)
print("Outside of i")

1
2
3
Outside of i

In [119]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [125]:
a=1+5+9+8/
+3+4+6
print(a)

SyntaxError: invalid syntax (3027559735.py, line 1)

In [134]:
#Standard Input
name = input("Enter your name")
print("welcome",name)

Enter your name Zayr

welcome Zayr

In [136]:
a=10
b=20
print(a,b)
print("a=",a)
print("b=", b)

10 20
a= 10
b= 20

In [152]:
print("a={} and b={}".format(a,b))

a=10 and b=20

In [144]:
print("Hello {}, welcome to DSA class".format(name))

Hello Zayr, welcome to DSA class

#Write program to print multiplication table (1-10) of a number input from user

In [155]:
Number = int(input("Enter the number"))
print("Multiplication Table")
for num in range(0,11):
    print( Number,"x",num,"=",num* Number)

Enter the number 5

Multiplication Table
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [157]:
Number = int(input("Enter the number"))
print("Multiplication Table")
for num in range(0,11):
    print( Number,"x",num,"=",Number*num)

Enter the number 8

Multiplication Table
8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [177]:
Name = input("Enter your name")
Age = int(input("Enter your age"))
print("My name is", Name, "i am", Age, "years old")

Enter your name Zayr
Enter your age 22

My name is Zayr i am 22 years old

In [197]:
print("Now a days the climate is {}, and sometime its {}".format("Good", "Extragood"))

Now a days the climate is Good, and sometime its Extragood

#Functions

##1. Builtin Function
##2. Custom Function

In [201]:
#def functionname(parameters)
    #statements
#return value

In [203]:
def add_num(x,y):
    z=x+y
    return z
add_num(55,33)

88

In [207]:
def abc(a,c):
    x=(a*b)
    return x
abc(12,10)

240

In [211]:
def abc(a,c):
    x=(a*b)
    print(x)
abc(12,10)

240

In [223]:
def add_num(a,b):
    '''This function add two numbers'''
    x=(a+b)
    return x
add_num(10,12)

22

In [225]:
#print(add_num.___doc___)

In [239]:
def add_num(a,b):
    '''This function add two numbers'''
    x=(a+b)
    return x
add_num(10,12)
print(add_num.__doc__)

This function add two numbers

In [253]:
x = [3, 4, -7, 0, 1]
def mean(x):
    y = sum(x)
    w = len(x)
    v = (y/w)
    return v

In [255]:
mean(x)

0.2

In [267]:
#OUT OF TODAY CYLLABUS
import statistics
x = [3, 4, -7, 0, 1]
def mean(x):
    return statistics.mean(x)
print(mean(x))

0.2

In [299]:
x = [3, 4, -7, 0, 1]
def var(x):
    meann=mean(x)
    for b in x:
        b= meann-x
        b=b*b
        sum(0)
        sum=b+sum
        sum/len(x)

In [297]:
var(x)

TypeError: unsupported operand type(s) for -: 'float' and 'list'